.about {
    padding-block: 80px;
    background-color: $primary-color;
    &-wrapper {
        .heading-content {
            gap: 40px;
            .img-about {
                width: 180px;
            }

            .heading-text {
                margin-top: 16px;
            }
        }
        .desc-text {
            color: $secondary-color;
            max-width: 330px;
        }
    }
}
