.about {
    padding-block: 80px;
    background-color: $primary-color;
    &-wrapper {
        .heading-content {
            gap: 40px;
            .img-about {
                max-width: 180px;
            }

            .heading-text {
                margin-top: 16px;
                max-width: 660px;
            }
        }
        .desc-text {
            color: $secondary-color;
            max-width: 330px;

            span {
                font-family: $font-mazius;
            }
        }
    }

    @media (max-width: 1200px) {
        &-wrapper {
            .heading-content {
                gap: 40px;
                .img-about {
                    max-width: 180px;
                }

                .heading-text {
                    margin-top: 16px;
                    max-width: 660px;
                }
            }
            .desc-text {
                color: $secondary-color;
                max-width: 248px;
            }
        }
    }

    @media (max-width: 768px) {
        &-wrapper {
            flex-direction: column;
            align-items: flex-start;
            gap: 40px;
            .heading-content {
                gap: 40px;
                .img-about {
                    max-width: 180px;
                }

                .heading-text {
                    margin-top: 16px;
                    max-width: 660px;
                }
            }
            .desc-text {
                color: $secondary-color;
                max-width: 400px;
            }
        }
    }

    @media (max-width: 576px) {
        &-wrapper {
            gap: 20px;
            .heading-content {
                flex-direction: column;
                align-items: flex-start;
                gap: 20px;
                .img-about {
                    max-width: 180px;
                }

                .heading-text {
                    margin-top: 12px;
                    max-width: unset;
                }
            }
            .desc-text {
                color: $secondary-color;
                max-width: unset;
            }
        }
    }
}
