.footer {
    background-color: $secondary-color;
    padding-block: 80px;
    &-left {
        .footer-brand {
            font-size: $p1-lg;
            font-weight: 500;
            color: $white-color;
            margin-bottom: 40px;
            display: inline-block;

            span {
                color: #eb9919;
            }
        }

        .company {
            gap: 12px;
            .email {
                font-size: $p1-lg;
                color: $white-color;
            }

            .address {
                font-size: $p3-lg;
                color: $white-color;
            }
        }
    }

    &-right {
        text-align: end;
        .social-media {
            gap: 80px;

            .btn-link {
                font-size: $p3-lg;
                color: $white-color;
            }
        }

        .copyright {
            font-size: $p3-lg;
            color: $white-color;
        }
    }

    @media (max-width: 1200px) {
        &-left {
            .footer-brand {
                font-size: 24px;
            }

            .company {
                gap: 12px;
                .email {
                    font-size: 24px;
                }

                .address {
                    font-size: 16px;
                }
            }
        }

        &-right {
            .social-media {
                .btn-link {
                    font-size: 16px;
                }
            }

            .copyright {
                font-size: 16px;
            }
        }
    }

    @media (max-width: 768px) {
        &-wrapper {
            flex-direction: column;
            gap: 40px;
        }

        &-right {
            gap: 40px;
            .social-media {
                gap: 40px;
            }
            .copyright {
                text-align: start;
            }
        }
    }

    @media (max-width: 576px) {
        &-wrapper {
            flex-direction: column;
            gap: 40px;
        }

        &-right {
            text-align: start;
            gap: 40px;
            .social-media {
                flex-direction: column;
                gap: 20px;
            }
            .copyright {
                text-align: start;
            }
        }
    }
}
