.d {
    &-flex {
        display: flex;
    }
    &-inline-flex {
        display: inline-flex;
    }
}

.justify-content {
    &-center {
        justify-content: center;
    }
    &-between {
        justify-content: space-between;
    }
    &-around {
        justify-content: space-around;
    }
    &-end {
        justify-content: flex-end;
    }
    &-start {
        justify-content: flex-start;
    }
}

.align-items {
    &-center {
        align-items: center;
    }
    &-start {
        align-items: flex-start;
    }
    &-end {
        align-items: flex-end;
    }
}

.flex {
    &-row {
        flex-direction: row;
    }
    &-row-reverse {
        flex-direction: row-reverse;
    }
    &-column {
        flex-direction: column;
    }
    &-column-reverse {
        flex-direction: column-reverse;
    }
}

.container {
    max-width: 1440px;
    padding: 0 80px;
    margin: 0 auto;

    &-fluid {
        max-width: 100%;
        padding: 0 80px;
        margin: 0 auto;
    }

    @media (max-width: 768px) {
        padding: 0 40px;

        &-fluid {
            padding: 0 40px;
        }
    }
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: $font-graphik;
    font-weight: 400;
    font-size: 16px;
    color: $secondary-color;
}

.img {
    width: 100%;
}

a {
    text-decoration: none;
}

//
.sub-heading-text {
    font-size: $p2-lg;
    font-family: $font-graphik;
    font-weight: 300;
    color: $secondary-color;

    @media (max-width: 1200px) {
        font-size: 18px;
    }

    @media (max-width: 576px) {
        font-size: 16px;
    }
}

.heading-lg-text {
    font-size: $h1-lg;
    font-family: $font-graphik;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: -5.12px;

    @media (max-width: 1200px) {
        font-size: 72px;
    }

    @media (max-width: 576px) {
        font-size: 42px;
        letter-spacing: -3.12px;
    }
}

.heading-text {
    font-size: $h2-lg;
    font-family: $font-graphik;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: -5.12px;
    color: $secondary-color;

    @media (max-width: 1200px) {
        font-size: 52px;
    }

    @media (max-width: 576px) {
        font-size: 32px;
        letter-spacing: -3px;
    }
}

.desc-text {
    font-family: $font-graphik;
    font-weight: 400;
    font-size: $p3-lg;
    line-height: 150%;
    color: $secondary-color;
    letter-spacing: -0.8px;

    @media (max-width: 1200px) {
        font-size: 16px;
    }
}

.heading-list {
    display: inline-block;
    .item {
        display: flex;
        align-items: center;
        gap: 32px;
        cursor: pointer;

        &:not(:last-child) {
            margin-bottom: 24px;
        }

        .icon-arrow {
            padding: 8px;
            outline: 1px solid $white-color;
            border-radius: 50%;
            display: flex;
            transition: all 300ms ease;
        }

        &-text {
            font-size: $p2-lg;
            font-family: $font-graphik;
            font-weight: 500;
            color: $white-color;
            transition: all 300ms ease;
        }

        &:hover {
            .icon-arrow {
                rotate: -45deg;
                outline: 1px solid $primary-color;

                svg path {
                    stroke: $primary-color;
                }
            }

            .item-text {
                color: $primary-color;
            }
        }
    }
}
