.statistic {
    padding-block: 100px;
    &-wrapper {
        .items {
            padding-inline: 60px;

            &:nth-child(1) {
                text-align: start;
            }
            &:nth-child(2) {
                text-align: center;
            }
            &:nth-child(3) {
                text-align: end;
            }
            .heading-text {
                font-size: $h1-lg;
                font-family: $font-graphik;
                font-weight: 400;
                margin-bottom: 16px;

                span {
                    color: $primary-color;
                }
            }

            .desc-text {
                font-size: $p3-lg;
            }
        }
    }

    @media (max-width: 1200px) {
        &-wrapper {
            .items {
                padding-inline: 40px;

                .heading-text {
                    font-size: 72px;
                    margin-bottom: 16px;
                }

                .desc-text {
                    font-size: $p3-lg;
                }
            }
        }
    }

    @media (max-width: 768px) {
        &-wrapper {
            .items {
                padding-inline: unset;

                .heading-text {
                    font-size: 72px;
                    margin-bottom: 16px;
                }

                .desc-text {
                    font-size: $p3-lg;
                }
            }
        }
    }

    @media (max-width: 576px) {
        &-wrapper {
            flex-direction: column;
            justify-content: flex-start;
            gap: 20px;
            .items {
                padding-inline: unset;

                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3) {
                    text-align: center;
                }

                .heading-text {
                    font-size: 72px;
                    margin-bottom: 16px;
                }

                .desc-text {
                    font-size: $p3-lg;
                }
            }
        }
    }
}
