@font-face {
    font-family: "Graphik LCG";
    src: url("/assets/fonts/GraphikLCG-Regular.eot");
    src: local("Graphik LCG Regular"), local("GraphikLCG-Regular"),
        url("/assets/fonts/GraphikLCG-Regular.eot?#iefix") format("embedded-opentype"),
        url("/assets/fonts/GraphikLCG-Regular.woff2") format("woff2"),
        url("/assets/fonts/GraphikLCG-Regular.woff") format("woff"),
        url("/assets/fonts/GraphikLCG-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Graphik LCG";
    src: url("/assets/fonts/GraphikLCG-Medium.eot");
    src: local("Graphik LCG Medium"), local("GraphikLCG-Medium"),
        url("/assets/fonts/GraphikLCG-Medium.eot?#iefix") format("embedded-opentype"),
        url("/assets/fonts/GraphikLCG-Medium.woff2") format("woff2"),
        url("/assets/fonts/GraphikLCG-Medium.woff") format("woff"),
        url("/assets/fonts/GraphikLCG-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Graphik LCG";
    src: url("/assets/fonts/GraphikLCG-Light.eot");
    src: local("Graphik LCG Light"), local("GraphikLCG-Light"),
        url("/assets/fonts/GraphikLCG-Light.eot?#iefix") format("embedded-opentype"),
        url("/assets/fonts/GraphikLCG-Light.woff2") format("woff2"),
        url("/assets/fonts/GraphikLCG-Light.woff") format("woff"),
        url("/assets/fonts/GraphikLCG-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Graphik LCG";
    src: url("/assets/fonts/GraphikLCG-Bold.eot");
    src: local("Graphik LCG Bold"), local("GraphikLCG-Bold"),
        url("/assets/fonts/GraphikLCG-Bold.eot?#iefix") format("embedded-opentype"),
        url("/assets/fonts/GraphikLCG-Bold.woff2") format("woff2"),
        url("/assets/fonts/GraphikLCG-Bold.woff") format("woff"),
        url("/assets/fonts/GraphikLCG-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "MAZIUS REVIEW 20.09 Regular";
    src: url("https://db.onlinewebfonts.com/t/7e5d4b5e37c0623759cbed868eb8c2ba.eot");
    src: url("https://db.onlinewebfonts.com/t/7e5d4b5e37c0623759cbed868eb8c2ba.eot?#iefix") format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/7e5d4b5e37c0623759cbed868eb8c2ba.woff2") format("woff2"),
        url("https://db.onlinewebfonts.com/t/7e5d4b5e37c0623759cbed868eb8c2ba.woff") format("woff"),
        url("https://db.onlinewebfonts.com/t/7e5d4b5e37c0623759cbed868eb8c2ba.ttf") format("truetype"),
        url("https://db.onlinewebfonts.com/t/7e5d4b5e37c0623759cbed868eb8c2ba.svg#MAZIUS REVIEW 20.09 Regular")
            format("svg");
}

$font-graphik: "Graphik LCG";
$font-mazius: "MAZIUS REVIEW 20.09 Regular";
$primary-color: #ffc100;
$secondary-color: #152632;
$white-color: #ffffff;
$h1-lg: 96px;
$h2-lg: 64px;
$p1-lg: 32px;
$p2-lg: 24px;
$p3-lg: 20px;
