.work {
    padding-block: 100px;
    background-color: $secondary-color;
    &-wrapper {
        display: flex;
        gap: 40px;
    }

    &-left {
        .heading-content {
            .sub-heading-text {
                color: $white-color;
            }
            .heading-lg-text {
                color: $white-color;
                margin-top: 16px;

                img {
                    margin-bottom: -30px;
                    max-width: 120px;
                }
            }
        }
    }

    &-right {
        .img {
            max-width: 620px;
            margin-bottom: 32px;
        }

        .desc-text {
            font-size: $p1-lg;
            color: $white-color;
        }
    }

    @media (max-width: 1200px) {
        &-wrapper {
            flex-direction: column;
        }

        &-left {
            gap: 40px;
            .heading-content {
                .sub-heading-text {
                    color: $white-color;
                }
                .heading-lg-text {
                    color: $white-color;
                    margin-top: 16px;

                    img {
                        margin-bottom: -24px;
                        max-width: 84px;
                    }
                }
            }
        }

        &-right {
            .img {
                max-width: 524px;
                margin-bottom: 32px;
            }

            .desc-text {
                font-size: $p2-lg;
                color: $white-color;
            }
        }
    }

    @media (max-width: 576px) {
        &-wrapper {
            gap: 20px;
        }
        &-left {
            gap: 20px;
            .heading-content {
                .sub-heading-text {
                    color: $white-color;
                }
                .heading-lg-text {
                    color: $white-color;
                    margin-top: 16px;

                    img {
                        margin-bottom: -10px;
                        max-width: 42px;
                    }
                }
            }
        }

        &-right {
            .img {
                max-width: 524px;
                margin-bottom: 16px;
            }

            .desc-text {
                font-size: 16px;
                color: $white-color;
            }
        }
    }
}
