.section-about {
    .container {
        &-about {
            padding-block: 80px;
            .head-content {
                .subtext {
                    display: flex;
                    align-items: flex-end;
                    &-text {
                        &-title {
                            display: flex;
                            flex-direction: column;
                            gap: 16px;
                        }
                        &-image {
                            max-width: 180px;
                        }
                        &-span {
                            color: $secondary;
                            font-family: $font-body;
                            font-size: $p-lg;
                            font-weight: 300;
                            line-height: 150%; /* 36px */
                            text-transform: uppercase;
                        }
                        &-display {
                            color: $secondary;
                            font-family: $font-body;
                            font-size: $h3;
                            font-weight: 400;
                            line-height: 110%; /* 70.4px */
                            letter-spacing: -5.12px;
                        }
                        &-desc {
                            color: rgba(21, 38, 50, 0.8);
                            font-family: $font-body;
                            font-size: 20px;
                            font-weight: 400;
                            line-height: 150%; /* 30px */
                            letter-spacing: -0.8px;

                            span {
                                font-family: $font-display;
                                font-style: italic;
                            }
                        }
                    }
                    .wrapper {
                        display: flex;
                        align-items: center;
                        gap: 40px;
                    }
                }
            }
        }
    }
}
