.btn {
    background-color: transparent;
    border: unset;
    font-family: $font-body;
    font-weight: 500;
    font-size: $p;
    color: $white;
    line-height: 140%;
    padding: 12px 24px;
    transition: all 300ms ease;
    &-primary {
        color: $black;
        border-radius: 52px;
        background: var(--Green, #b3dd62);
    }
    // &-secondary{
    //     background-color: $secondary;
    //     color: $white;
    //     padding: 18px 36px;
    // }
    // &-primary{
    //     @extend .btn-secondary;
    //     background-color: $primary;
    // }
    // &-link {
    //     display: inline-flex;
    //     align-items: center;
    //     color: $gray;
    //     gap: 8px;

    //     .ic-arrow {
    //         max-width: 24px;
    //         width: 100%;
    //     }

    //     &:hover {
    //         text-decoration: underline;
    //     }
    // }
}
