.section-partner {
    .slider-partner {
        width: 100%;
        .slider-item {
            display: inline-flex;
            opacity: 0.4;
            margin-inline: 15px;
            background-color: #39393d;
            cursor: pointer;
            border-radius: 52px;
            padding: 0 24px;
            img {
                width: 100%;
            }

            @include respondsive(xl) {
                border-radius: 42px;
                padding: 0;
                img {
                    width: 80%;
                    margin: auto;
                }
            }
            @include respondsive(sm) {
                border-radius: 22px;
                padding: 0;
                img {
                    width: 60%;
                }
            }
        }
    }
}
