.section-project {
    .container {
        &-project {
            padding-block: 100px;
            flex-direction: column;
            .head-content {
                .subtext {
                    display: flex;
                    gap: 136px;
                    &-text {
                        &-span {
                            color: $secondary;
                            font-family: $font-body;
                            font-size: 24px;
                            font-weight: 300;
                            line-height: 150%; /* 36px */
                            text-transform: uppercase;
                            display: inline-flex;
                            padding: 20px 0px;
                        }
                        &-display {
                            color: $secondary;
                            font-family: $font-body;
                            font-size: 96px;
                            font-weight: 400;
                            line-height: 110%; /* 105.6px */
                            letter-spacing: -7.68px;
                        }
                    }
                }
                .wrapper-btn {
                    display: flex;
                    padding: 28px 180px;
                    justify-content: flex-end;
                    align-items: center;
                    gap: 24px;
                    .btn-arrow {
                        display: inline-flex;
                        padding: 20px 20px;
                        border: 1px solid $secondary;
                        background-color: transparent;
                        border-radius: 50%;
                        transition: all 300ms ease;
                        &:hover {
                            background-color: $secondary;
                            transform: scale(1.4);
                            svg path {
                                stroke: #ffffff;
                            }
                        }
                    }
                }
            }
            .body-content {
                .subtext-card {
                    .slick {
                        &-track {
                            display: flex;
                            align-items: flex-end;
                            gap: 180px;
                        }
                        &-active {
                            .card {
                                &-image {
                                    height: 641px;
                                    transform: scaleY(1);
                                    transform-origin: bottom;
                                }
                            }
                        }
                    }
                    .card {
                        max-width: 550px;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        gap: 32px;
                        &-image {
                            height: 330px;
                            transform: scaleY(1);
                            transform-origin: bottom;
                            transition: transform 0.3s ease-in-out;
                        }
                        &-body {
                            display: flex;
                            flex-direction: column;
                            gap: 16px;
                            &-desc {
                                color: $secondary;
                                font-family: $font-body;
                                font-size: 32px;
                                font-weight: 400;
                                line-height: 150%; /* 48px */
                                letter-spacing: -1.28px;
                            }
                            .btn-link {
                                display: flex;
                                align-items: center;
                                gap: 32px;

                                color: $secondary;
                                font-family: $font-body;
                                font-size: 24px;
                                font-weight: 500;
                                line-height: 150%; /* 36px */
                                padding: 0;
                                img {
                                    max-width: 32px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
