.section-statistic {
    .container {
        &-statistic {
            padding-block: 100px;
            @include responsive(md) {
                padding-block: 50px;
            }
            .subtext {
                display: inline-flex;
                justify-content: center;
                width: 100%;
                gap: 40px;
                flex-wrap: wrap;
                &-text {
                    padding-inline: 60px;
                    &:nth-child(1) {
                        text-align: start;
                    }
                    &:nth-child(2) {
                        text-align: center;
                    }
                    &:nth-child(3) {
                        text-align: end;
                    }
                    @include responsive(md) {
                        text-align: center !important;
                    }
                    &-display {
                        color: $secondary;
                        font-family: $font-body;
                        font-size: 96px;
                        font-weight: 400;
                        line-height: 110%; /* 105.6px */
                        letter-spacing: -7.68px;
                        @include responsive(xl) {
                            font-size: 72px;
                        }
                        @include responsive(md) {
                            letter-spacing: -3.68px;
                        }
                        @include responsive(sm) {
                            font-size: 48px;
                        }
                    }
                    &-desc {
                        color: $light-black;
                        font-family: $font-body;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 150%; /* 30px */
                        letter-spacing: -0.8px;
                    }
                }
            }
        }
    }
}
