.section-testimonial {
    .container {
        &-testimonial {
            padding-block: 100px;
            gap: 70px;
            @include responsive(md) {
                padding-block: 50px;
                .grid-9,
                .grid-3 {
                    width: 100%;
                }
            }
            .head-content {
                display: flex;
                justify-content: flex-end;
                .subtext-image {
                    img {
                        max-width: 120px;
                        @include responsive(xl) {
                            max-width: 95px;
                        }
                    }
                }
                @include responsive(md) {
                    display: none;
                }
            }
            .body-content {
                .subtext {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 64px;
                    @include responsive(sm) {
                        gap: 32px;
                    }
                    &-text {
                        &-display {
                            color: $secondary;
                            font-family: $font-body;
                            font-size: $h3;
                            font-weight: 400;
                            line-height: 110%; /* 70.4px */
                            letter-spacing: -5.12px;
                            @include responsive(xl) {
                                font-size: 54px;
                            }
                            @include responsive(sm) {
                                font-size: 34px;
                                letter-spacing: -3px;
                            }
                        }
                    }
                    &-card {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 64px;
                        @include responsive(sm) {
                            gap: 32px;
                        }
                        .card {
                            display: flex;
                            max-width: 550px;
                            align-items: center;
                            gap: 32px;
                            @include responsive(sm) {
                                flex-direction: column;
                                align-items: flex-start;
                                gap: 16px;
                            }
                            &-image {
                                max-width: 180px;
                                @include responsive(sm) {
                                    max-width: 100%;
                                }
                            }
                            &-body {
                                &-desc {
                                    color: $light-black;
                                    font-family: $font-body;
                                    font-size: $p-md;
                                    font-weight: 400;
                                    line-height: 150%;
                                    letter-spacing: -0.8px;
                                    span {
                                        font-style: italic;
                                        font-family: $font-display;
                                    }
                                }
                                &-span {
                                    display: inline-flex;
                                    align-items: center;
                                    gap: 12px;
                                    color: $light-black;
                                    font-family: $font-body;
                                    font-size: 16px;
                                    font-weight: 400;
                                    line-height: 150%; /* 24px */
                                    letter-spacing: -0.64px;
                                    .line {
                                        width: 48px;
                                        height: 1px;
                                        background-color: $secondary;
                                    }
                                }
                                &-display {
                                    @extend .card-body-desc;
                                    color: $secondary;
                                    .text-primary {
                                        font-family: $font-body;
                                        font-style: normal;
                                        font-weight: 500;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
