.section-work {
    .container {
        &-work {
            gap: 40px;
            padding-block: 100px;
            @include responsive(md) {
                padding-block: 50px;
            }
            .grid-6 {
                @include responsive(md) {
                    width: 100%;
                }
            }
            .head-content {
                .subtext {
                    display: flex;
                    height: 100%;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    @include responsive(md) {
                        gap: 42px;
                    }
                    &-text {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 16px;
                        &-span {
                            color: $white;
                            font-family: $font-body;
                            font-size: $p-lg;
                            font-weight: 300;
                            line-height: 150%; /* 36px */
                            text-transform: uppercase;
                            @include responsive(xl) {
                                font-size: 20px;
                            }
                        }
                        &-display {
                            color: $white;
                            font-family: $font-body;
                            font-size: $h2;
                            font-weight: 400;
                            line-height: 110%; /* 70.4px */
                            letter-spacing: -5.12px;
                            span {
                                img {
                                    max-width: 120px;
                                    margin-bottom: -5%;
                                }
                            }
                            @include responsive(xl) {
                                font-size: 72px;
                                span {
                                    img {
                                        max-width: 65px;
                                        margin-bottom: -3%;
                                    }
                                }
                            }
                            @include responsive(sm) {
                                font-size: 48px;
                                letter-spacing: -2.12px;
                                span {
                                    img {
                                        max-width: 38px;
                                        margin-bottom: -1%;
                                    }
                                }
                            }
                        }
                    }
                    &-list {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 24px;
                        &-item {
                            display: flex;
                            align-items: center;
                            gap: 32px;
                            cursor: pointer;
                            .item {
                                &-image {
                                    display: inline-flex;
                                    padding: 8px;
                                    outline: 0.5px solid $white;
                                    border-radius: 50%;
                                    transition: all 300ms ease;
                                }
                                &-text {
                                    &-desc {
                                        color: $white;
                                        font-family: $font-body;
                                        font-size: $h5;
                                        font-weight: 500;
                                        line-height: 150%; /* 36px */
                                        transition: all 300ms ease;
                                        @include responsive(md) {
                                            font-size: 22px;
                                        }
                                    }
                                }
                            }
                            &:hover {
                                .item-image {
                                    transform: rotate(-45deg);
                                    outline: 0.5px solid $primary;
                                    svg path {
                                        stroke: $primary;
                                    }
                                }
                                .item-text-desc {
                                    color: $primary;
                                }
                            }
                        }
                    }
                }
            }
            .body-content {
                .subtext-card {
                    .card {
                        max-width: 620px;
                        @include responsive(md) {
                            max-width: 85%;
                        }
                        @include responsive(sm) {
                            max-width: 100%;
                        }
                        &-image {
                            display: inline-flex;
                            position: relative;
                            margin-bottom: 32px;
                            @include responsive(md) {
                                margin-bottom: 16px;
                            }
                            .image {
                                &-play-btn {
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    max-width: 100px;
                                    @include responsive(xl) {
                                        max-width: 75px;
                                    }
                                }
                            }
                        }
                        &-text-desc {
                            color: $light-white;
                            font-family: $font-body;
                            font-size: $p-xl;
                            font-weight: 400;
                            line-height: 150%; /* 48px */
                            letter-spacing: -1.28px;
                            @include responsive(xl) {
                                font-size: 26px;
                            }
                            @include responsive(xl) {
                                font-size: 22px;
                            }
                        }
                    }
                }
            }
        }
    }
}
