$primary: #B3DD62;
$secondary: #BFB1F5;

$white: #ffffff;
$black: #252528;
$purple: #df50f6;
$dark-gray: #39393D;
$gray: #dadada;
$light-gray: #6b6b6f;
$bg-color: #1d1d20;

// $subText: #94a0c0;

.text-primary {
    color: $primary;
}
.text-secondary {
    color: $secondary;
}
