@font-face {
  font-family: "Graphik LCG";
  src: url("/assets/fonts/GraphikLCG-Regular.eot");
  src: local("Graphik LCG Regular"), local("GraphikLCG-Regular"), url("/assets/fonts/GraphikLCG-Regular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/GraphikLCG-Regular.woff2") format("woff2"), url("/assets/fonts/GraphikLCG-Regular.woff") format("woff"), url("/assets/fonts/GraphikLCG-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("/assets/fonts/GraphikLCG-Medium.eot");
  src: local("Graphik LCG Medium"), local("GraphikLCG-Medium"), url("/assets/fonts/GraphikLCG-Medium.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/GraphikLCG-Medium.woff2") format("woff2"), url("/assets/fonts/GraphikLCG-Medium.woff") format("woff"), url("/assets/fonts/GraphikLCG-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("/assets/fonts/GraphikLCG-Light.eot");
  src: local("Graphik LCG Light"), local("GraphikLCG-Light"), url("/assets/fonts/GraphikLCG-Light.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/GraphikLCG-Light.woff2") format("woff2"), url("/assets/fonts/GraphikLCG-Light.woff") format("woff"), url("/assets/fonts/GraphikLCG-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("/assets/fonts/GraphikLCG-Bold.eot");
  src: local("Graphik LCG Bold"), local("GraphikLCG-Bold"), url("/assets/fonts/GraphikLCG-Bold.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/GraphikLCG-Bold.woff2") format("woff2"), url("/assets/fonts/GraphikLCG-Bold.woff") format("woff"), url("/assets/fonts/GraphikLCG-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "MAZIUS REVIEW 20.09 Regular";
  src: url("https://db.onlinewebfonts.com/t/7e5d4b5e37c0623759cbed868eb8c2ba.eot");
  src: url("https://db.onlinewebfonts.com/t/7e5d4b5e37c0623759cbed868eb8c2ba.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/7e5d4b5e37c0623759cbed868eb8c2ba.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/7e5d4b5e37c0623759cbed868eb8c2ba.woff") format("woff"), url("https://db.onlinewebfonts.com/t/7e5d4b5e37c0623759cbed868eb8c2ba.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/7e5d4b5e37c0623759cbed868eb8c2ba.svg#MAZIUS REVIEW 20.09 Regular") format("svg");
}
.d-flex {
  display: flex;
}
.d-inline-flex {
  display: inline-flex;
}

.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-start {
  justify-content: flex-start;
}

.align-items-center {
  align-items: center;
}
.align-items-start {
  align-items: flex-start;
}
.align-items-end {
  align-items: flex-end;
}

.flex-row {
  flex-direction: row;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-column {
  flex-direction: column;
}
.flex-column-reverse {
  flex-direction: column-reverse;
}

.container {
  max-width: 1440px;
  padding: 0 80px;
  margin: 0 auto;
}
.container-fluid {
  max-width: 100%;
  padding: 0 80px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .container {
    padding: 0 40px;
  }
  .container-fluid {
    padding: 0 40px;
  }
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Graphik LCG";
  font-weight: 400;
  font-size: 16px;
  color: #152632;
}

.img {
  width: 100%;
}

a {
  text-decoration: none;
}

.sub-heading-text {
  font-size: 24px;
  font-family: "Graphik LCG";
  font-weight: 300;
  color: #152632;
}
@media (max-width: 1200px) {
  .sub-heading-text {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .sub-heading-text {
    font-size: 16px;
  }
}

.heading-lg-text {
  font-size: 96px;
  font-family: "Graphik LCG";
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -5.12px;
}
@media (max-width: 1200px) {
  .heading-lg-text {
    font-size: 72px;
  }
}
@media (max-width: 576px) {
  .heading-lg-text {
    font-size: 42px;
    letter-spacing: -3.12px;
  }
}

.heading-text {
  font-size: 64px;
  font-family: "Graphik LCG";
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -5.12px;
  color: #152632;
}
@media (max-width: 1200px) {
  .heading-text {
    font-size: 52px;
  }
}
@media (max-width: 576px) {
  .heading-text {
    font-size: 32px;
    letter-spacing: -3px;
  }
}

.desc-text {
  font-family: "Graphik LCG";
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #152632;
  letter-spacing: -0.8px;
}
@media (max-width: 1200px) {
  .desc-text {
    font-size: 16px;
  }
}

.heading-list {
  display: inline-block;
}
.heading-list .item {
  display: flex;
  align-items: center;
  gap: 32px;
  cursor: pointer;
}
.heading-list .item:not(:last-child) {
  margin-bottom: 24px;
}
.heading-list .item .icon-arrow {
  padding: 8px;
  outline: 1px solid #ffffff;
  border-radius: 50%;
  display: flex;
  transition: all 300ms ease;
}
.heading-list .item-text {
  font-size: 24px;
  font-family: "Graphik LCG";
  font-weight: 500;
  color: #ffffff;
  transition: all 300ms ease;
}
.heading-list .item:hover .icon-arrow {
  rotate: -45deg;
  outline: 1px solid #ffc100;
}
.heading-list .item:hover .icon-arrow svg path {
  stroke: #ffc100;
}
.heading-list .item:hover .item-text {
  color: #ffc100;
}

.navbar {
  background-color: #152632;
  position: relative;
}
.navbar-inner {
  padding-block: 30px;
  margin-block: -1px;
}
.navbar-toggler {
  display: none;
  cursor: pointer;
}
.navbar-toggler-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  background-image: url("/assets/images/menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  fill: #ffc100;
}
.navbar-collapse.active {
  height: 220px;
}
.navbar-collapse.active .navbar-nav {
  opacity: 1;
}
.navbar .nav-link {
  font-size: 24px;
  color: #ffffff;
}
.navbar .nav-link-mobile {
  display: none;
}
.navbar-brand {
  font-size: 32px;
  color: #ffffff;
  font-weight: 500;
}
.navbar-brand span {
  color: #f0cc4c;
}
@media (max-width: 992px) {
  .navbar .nav-link-dekstop {
    display: none;
  }
  .navbar-toggler {
    display: block;
  }
  .navbar-collapse {
    height: 0;
    position: absolute;
    background-color: #152632;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    transition: all 300ms ease;
    overflow: hidden;
  }
  .navbar-collapse .navbar-nav {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 40px;
    margin: 40px auto;
    text-align: center;
    transition: all 500ms ease;
    opacity: 0;
  }
  .navbar-collapse .navbar-nav .nav-link-mobile {
    display: block;
  }
}
@media (max-width: 768px) {
  .navbar-brand {
    font-size: 24px;
    color: #ffffff;
    font-weight: 500;
  }
  .navbar-brand span {
    color: #f0cc4c;
  }
  .navbar .nav-link {
    font-size: 20px;
  }
}

.hero {
  background-color: #152632;
  padding-top: 60px;
  padding-bottom: 100px;
}
.hero-top-list, .hero-top-text {
  margin-top: 40px;
}
.hero-top-text {
  max-width: 358px;
  width: 100%;
  padding-block: 13px;
}
.hero-top-text .ic-text-hero {
  max-width: 27px;
}
.hero-top-text .ic-text-hero img {
  width: 100%;
}
.hero-top-text .desc-text {
  font-family: "MAZIUS REVIEW 20.09 Regular";
  font-size: 27px;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 0.54px;
  margin-left: 37px;
}
.hero-top-img .img-decoration {
  max-width: 100px;
  width: 100%;
}
.hero-top-img .img-hero {
  max-width: 460px;
  width: 100%;
  margin-top: 45px;
  margin-left: -50px;
}
.hero-bottom {
  margin-top: -164px;
}
.hero-bottom .heading-lg-text {
  color: #ffffff;
  font-size: 180px;
  font-weight: 400;
  letter-spacing: -15.04px;
}
.hero-bottom .heading-lg-text .ic-arrow {
  max-width: 120px;
  width: 100%;
}
.hero-bottom .heading-lg-text:first-child {
  letter-spacing: unset;
}
.hero-bottom .heading-lg-text span {
  font-family: "MAZIUS REVIEW 20.09 Regular";
  color: #ffc100;
}
@media (max-width: 1200px) {
  .hero-top {
    gap: 40px;
  }
  .hero-top-list .item:not(:last-child) {
    margin-bottom: 20px;
  }
  .hero-top-list .item:not(:last-child) .item-text {
    font-size: 20px;
  }
  .hero-top-text {
    max-width: 358px;
    width: 100%;
    padding-block: 13px;
  }
  .hero-top-text .desc-text {
    font-family: "MAZIUS REVIEW 20.09 Regular";
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
    letter-spacing: 0.54px;
    margin-left: 24px;
  }
  .hero-bottom {
    margin-top: 40px;
  }
  .hero-bottom .heading-lg-text {
    font-size: 139px;
  }
}
@media (max-width: 768px) {
  .hero-wrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
  }
  .hero-top {
    flex-direction: column-reverse;
  }
  .hero-top-text {
    max-width: unset;
  }
  .hero-bottom .heading-lg-text {
    font-size: 108px;
    letter-spacing: -12.04px;
  }
  .hero-bottom .heading-lg-text .ic-arrow {
    max-width: 104px;
    width: 100%;
  }
}
@media (max-width: 576px) {
  .hero-wrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
  }
  .hero-top {
    flex-direction: column-reverse;
    gap: 20px;
  }
  .hero-top-list {
    margin-top: unset;
  }
  .hero-top-text {
    max-width: unset;
    margin-top: unset;
  }
  .hero-top-img .img-decoration {
    max-width: 90px;
  }
  .hero-top-img .img-hero {
    max-width: 216px;
  }
  .hero-bottom .heading-lg-text {
    font-size: 62px;
    letter-spacing: -6.04px;
  }
  .hero-bottom .heading-lg-text .ic-arrow {
    max-width: 52px;
    width: 100%;
  }
}

.about {
  padding-block: 80px;
  background-color: #ffc100;
}
.about-wrapper .heading-content {
  gap: 40px;
}
.about-wrapper .heading-content .img-about {
  max-width: 180px;
}
.about-wrapper .heading-content .heading-text {
  margin-top: 16px;
  max-width: 660px;
}
.about-wrapper .desc-text {
  color: #152632;
  max-width: 330px;
}
.about-wrapper .desc-text span {
  font-family: "MAZIUS REVIEW 20.09 Regular";
}
@media (max-width: 1200px) {
  .about-wrapper .heading-content {
    gap: 40px;
  }
  .about-wrapper .heading-content .img-about {
    max-width: 180px;
  }
  .about-wrapper .heading-content .heading-text {
    margin-top: 16px;
    max-width: 660px;
  }
  .about-wrapper .desc-text {
    color: #152632;
    max-width: 248px;
  }
}
@media (max-width: 768px) {
  .about-wrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }
  .about-wrapper .heading-content {
    gap: 40px;
  }
  .about-wrapper .heading-content .img-about {
    max-width: 180px;
  }
  .about-wrapper .heading-content .heading-text {
    margin-top: 16px;
    max-width: 660px;
  }
  .about-wrapper .desc-text {
    color: #152632;
    max-width: 400px;
  }
}
@media (max-width: 576px) {
  .about-wrapper {
    gap: 20px;
  }
  .about-wrapper .heading-content {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .about-wrapper .heading-content .img-about {
    max-width: 180px;
  }
  .about-wrapper .heading-content .heading-text {
    margin-top: 12px;
    max-width: unset;
  }
  .about-wrapper .desc-text {
    color: #152632;
    max-width: unset;
  }
}

.statistic {
  padding-block: 100px;
}
.statistic-wrapper .items {
  padding-inline: 60px;
}
.statistic-wrapper .items:nth-child(1) {
  text-align: start;
}
.statistic-wrapper .items:nth-child(2) {
  text-align: center;
}
.statistic-wrapper .items:nth-child(3) {
  text-align: end;
}
.statistic-wrapper .items .heading-text {
  font-size: 96px;
  font-family: "Graphik LCG";
  font-weight: 400;
  margin-bottom: 16px;
}
.statistic-wrapper .items .heading-text span {
  color: #ffc100;
}
.statistic-wrapper .items .desc-text {
  font-size: 20px;
}
@media (max-width: 1200px) {
  .statistic-wrapper .items {
    padding-inline: 40px;
  }
  .statistic-wrapper .items .heading-text {
    font-size: 72px;
    margin-bottom: 16px;
  }
  .statistic-wrapper .items .desc-text {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .statistic-wrapper .items {
    padding-inline: unset;
  }
  .statistic-wrapper .items .heading-text {
    font-size: 72px;
    margin-bottom: 16px;
  }
  .statistic-wrapper .items .desc-text {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .statistic-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
  }
  .statistic-wrapper .items {
    padding-inline: unset;
  }
  .statistic-wrapper .items:nth-child(1), .statistic-wrapper .items:nth-child(2), .statistic-wrapper .items:nth-child(3) {
    text-align: center;
  }
  .statistic-wrapper .items .heading-text {
    font-size: 72px;
    margin-bottom: 16px;
  }
  .statistic-wrapper .items .desc-text {
    font-size: 20px;
  }
}

.work {
  padding-block: 100px;
  background-color: #152632;
}
.work-wrapper {
  display: flex;
  gap: 40px;
}
.work-left .heading-content .sub-heading-text {
  color: #ffffff;
}
.work-left .heading-content .heading-lg-text {
  color: #ffffff;
  margin-top: 16px;
}
.work-left .heading-content .heading-lg-text img {
  margin-bottom: -30px;
  max-width: 120px;
}
.work-right .img {
  max-width: 620px;
  margin-bottom: 32px;
}
.work-right .desc-text {
  font-size: 32px;
  color: #ffffff;
}
@media (max-width: 1200px) {
  .work-wrapper {
    flex-direction: column;
  }
  .work-left {
    gap: 40px;
  }
  .work-left .heading-content .sub-heading-text {
    color: #ffffff;
  }
  .work-left .heading-content .heading-lg-text {
    color: #ffffff;
    margin-top: 16px;
  }
  .work-left .heading-content .heading-lg-text img {
    margin-bottom: -24px;
    max-width: 84px;
  }
  .work-right .img {
    max-width: 524px;
    margin-bottom: 32px;
  }
  .work-right .desc-text {
    font-size: 24px;
    color: #ffffff;
  }
}
@media (max-width: 576px) {
  .work-wrapper {
    gap: 20px;
  }
  .work-left {
    gap: 20px;
  }
  .work-left .heading-content .sub-heading-text {
    color: #ffffff;
  }
  .work-left .heading-content .heading-lg-text {
    color: #ffffff;
    margin-top: 16px;
  }
  .work-left .heading-content .heading-lg-text img {
    margin-bottom: -10px;
    max-width: 42px;
  }
  .work-right .img {
    max-width: 524px;
    margin-bottom: 16px;
  }
  .work-right .desc-text {
    font-size: 16px;
    color: #ffffff;
  }
}

.testimonial {
  padding-block: 100px;
}
.testimonial-wrapper {
  gap: 70px;
}
.testimonial-wrapper .icon-testimonial {
  max-width: 120px;
  width: 100%;
}
.testimonial-text {
  max-width: 990px;
  gap: 64px;
}
.testimonial-text .item {
  display: flex;
  align-items: center;
  gap: 32px;
  max-width: 550px;
  width: 100%;
}
.testimonial-text .item .since {
  font-size: 20px;
  margin-bottom: 10px;
}
.testimonial-text .item .since span {
  display: inline-block;
  border: 1px solid #152632;
  width: 48px;
  height: 1px;
  vertical-align: middle;
  margin-right: 12px;
}
.testimonial-text .item .desc-text span {
  color: #ffc100;
  font-weight: 500;
}
@media (max-width: 768px) {
  .testimonial-wrapper {
    flex-direction: column;
    gap: 40px;
  }
  .testimonial-wrapper .icon-testimonial {
    max-width: 86px;
  }
  .testimonial-text {
    gap: 40px;
  }
}
@media (max-width: 576px) {
  .testimonial-wrapper {
    gap: 20px;
  }
  .testimonial-wrapper .icon-testimonial {
    max-width: 42px;
  }
  .testimonial-text {
    gap: 20px;
  }
  .testimonial-text .item {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
}

.choose {
  padding-block: 100px;
}
.choose-wrapper {
  gap: 80px;
}
.choose-top .heading-content .heading-lg-text {
  margin-top: 16px;
}
.choose-top .heading-content .review {
  text-align: start;
  max-width: 330px;
  width: 100%;
  flex-shrink: 0;
}
.choose-top .heading-content .review-img {
  margin-bottom: 16px;
}
.choose-top .heading-content .review-img .img-review {
  max-width: 64px;
}
.choose-top .heading-content .review-img .img-review:not(:last-child) {
  margin-right: -24px;
}
.choose-top .heading-content .review .desc-text {
  width: 260px;
}
.choose-top .heading-content .review .desc-text span {
  font-weight: 500;
  color: #000000;
  border-bottom: 1.5px solid #000000;
}
.choose-bottom {
  gap: 80px;
}
.choose-bottom .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 110px;
}
.choose-bottom .item:nth-child(even) {
  flex-direction: row-reverse;
}
.choose-bottom .item .img-choose {
  max-width: 620px;
}
.choose-bottom .item-wrap {
  position: relative;
}
.choose-bottom .item-wrap .heading-text {
  margin-bottom: 16px;
}
.choose-bottom .item-wrap .ic-hover {
  position: absolute;
  bottom: 0;
  right: 130px;
  max-width: 120px;
  opacity: 0;
  transition: all 300ms ease;
}
.choose-bottom .item-wrap:hover {
  cursor: pointer;
}
.choose-bottom .item-wrap:hover .ic-hover {
  bottom: 48px;
  opacity: 1;
}
@media (max-width: 1200px) {
  .choose-top .item, .choose-bottom .item {
    gap: 60px;
  }
  .choose-top .item .img-choose, .choose-bottom .item .img-choose {
    max-width: 320px;
  }
  .choose-top .item-wrap .ic-hover, .choose-bottom .item-wrap .ic-hover {
    max-width: 68px;
  }
}
@media (max-width: 768px) {
  .choose-wrapper {
    gap: 40px;
  }
  .choose-top .heading-content {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
  }
  .choose-bottom {
    gap: 40px;
  }
  .choose-bottom .item {
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
  }
  .choose-bottom .item:nth-child(even) {
    flex-direction: column;
  }
  .choose-bottom .item .img-choose {
    max-width: unset;
    width: 100%;
  }
}
@media (max-width: 576px) {
  .choose-wrapper {
    gap: 20px;
  }
  .choose-top .heading-content {
    gap: 16px;
  }
  .choose-top .heading-content .heading-lg-text {
    margin-top: 12px;
  }
  .choose-bottom .item {
    gap: 20px;
  }
  .choose-bottom .item-wrap {
    position: relative;
  }
  .choose-bottom .item-wrap .heading-text {
    margin-bottom: 12px;
  }
  .choose-bottom .item-wrap .ic-hover {
    position: absolute;
    bottom: 0;
    right: 38px;
    max-width: 42px;
    opacity: 0;
    transition: all 300ms ease;
  }
  .choose-bottom .item-wrap:hover {
    cursor: pointer;
  }
  .choose-bottom .item-wrap:hover .ic-hover {
    bottom: 88px;
    opacity: 1;
  }
}

.banner {
  background-color: #ffc100;
  padding-block: 60px;
}
.banner .slider {
  overflow-x: hidden;
}
.banner .slider .slide {
  gap: 60px;
  margin-inline: 30px;
}
.banner .slider .slide .icon-banner {
  max-width: 120px;
  width: 100%;
}
.banner .slider .slide-text {
  font-size: 188px;
  font-family: "Graphik LCG";
  font-weight: 400;
  flex-shrink: 0;
}
.banner .slider .slide-text-white {
  color: #ffffff;
}
@media (max-width: 1200px) {
  .banner .slider .slide-text {
    font-size: 158px;
  }
}
@media (max-width: 576px) {
  .banner .slider {
    gap: 30px;
  }
  .banner .slider .slide-text {
    font-size: 108px;
  }
}

.project {
  padding-block: 100px;
}
.project-top .heading-content .sub-heading-text {
  padding-block: 20px;
}
.project-top .heading-content .heading-lg-text {
  max-width: 900px;
}
.project-top .arrow-wrap {
  padding-right: 180px;
  gap: 16px;
  margin-top: 48px;
}
.project-top .arrow-wrap .btn-arrow {
  padding: 20px;
  display: flex;
  border: 1px solid #152632;
  border-radius: 50%;
  flex-shrink: 0;
  transition: all 300ms ease;
}
.project-top .arrow-wrap .btn-arrow:hover {
  background-color: #152632;
  transform: scale(1.3);
}
.project-top .arrow-wrap .btn-arrow:hover svg path {
  stroke: #ffffff;
}
.project-bottom {
  margin-top: -50px;
}
.project-bottom .slider-project .slide {
  max-width: 550px;
}
.project-bottom .slider-project .slide .img-slide {
  transition: all 300ms ease;
  width: 100%;
  height: 330px;
}
.project-bottom .slider-project .slide .img-slide-active {
  height: 542px;
}
.project-bottom .slider-project .slide-text {
  margin-top: 32px;
}
.project-bottom .slider-project .slide-text .desc-text {
  margin-bottom: 16px;
}
.project-bottom .slider-project .slide-text .btn-link {
  display: flex;
  align-items: center;
  gap: 32px;
  text-decoration: none;
  font-size: 24px;
  color: #152632;
  font-weight: 500;
}
@media (max-width: 1200px) {
  .project-top .heading-content .heading-lg-text {
    max-width: 682px;
  }
  .project-top .arrow-wrap .btn-arrow {
    padding: 16px;
  }
  .project-bottom {
    margin-top: -28px;
  }
  .project-bottom .slider-project {
    gap: 60px;
  }
  .project-bottom .slider-project .slide-text .btn-link {
    font-size: 20px;
    gap: 24px;
  }
}
@media (max-width: 768px) {
  .project-top .heading-content {
    flex-direction: column;
  }
  .project-top .heading-content .sub-heading-text {
    padding: unset;
  }
  .project-top .heading-content .heading-lg-text {
    margin-top: 16px;
    max-width: unset;
  }
  .project-bottom .slider-project .slide-text {
    margin-top: 24px;
  }
  .project-bottom .slider-project .slide .img-slide {
    max-height: 230px;
  }
  .project-bottom .slider-project .slide .img-slide-active {
    max-height: 442px;
  }
}
@media (max-width: 576px) {
  .project-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .project-top .heading-content .heading-lg-text {
    margin-top: 12px;
  }
  .project-top .arrow-wrap {
    padding-right: unset;
    justify-content: space-between;
    margin-top: 20px;
  }
  .project-top .arrow-wrap .btn-arrow {
    padding: 12px;
  }
  .project-bottom {
    margin-top: unset;
  }
  .project-bottom .slider-project {
    flex-direction: column;
    gap: 20px;
  }
  .project-bottom .slider-project .slide-text {
    margin-top: 24px;
  }
  .project-bottom .slider-project .slide .img-slide {
    max-height: 172px;
  }
  .project-bottom .slider-project .slide .img-slide-active {
    max-height: 362px;
  }
}

.footer {
  background-color: #152632;
  padding-block: 80px;
}
.footer-left .footer-brand {
  font-size: 32px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 40px;
  display: inline-block;
}
.footer-left .footer-brand span {
  color: #eb9919;
}
.footer-left .company {
  gap: 12px;
}
.footer-left .company .email {
  font-size: 32px;
  color: #ffffff;
}
.footer-left .company .address {
  font-size: 20px;
  color: #ffffff;
}
.footer-right {
  text-align: end;
}
.footer-right .social-media {
  gap: 80px;
}
.footer-right .social-media .btn-link {
  font-size: 20px;
  color: #ffffff;
}
.footer-right .copyright {
  font-size: 20px;
  color: #ffffff;
}
@media (max-width: 1200px) {
  .footer-left .footer-brand {
    font-size: 24px;
  }
  .footer-left .company {
    gap: 12px;
  }
  .footer-left .company .email {
    font-size: 24px;
  }
  .footer-left .company .address {
    font-size: 16px;
  }
  .footer-right .social-media .btn-link {
    font-size: 16px;
  }
  .footer-right .copyright {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .footer-wrapper {
    flex-direction: column;
    gap: 40px;
  }
  .footer-right {
    gap: 40px;
  }
  .footer-right .social-media {
    gap: 40px;
  }
  .footer-right .copyright {
    text-align: start;
  }
}
@media (max-width: 576px) {
  .footer-wrapper {
    flex-direction: column;
    gap: 40px;
  }
  .footer-right {
    text-align: start;
    gap: 40px;
  }
  .footer-right .social-media {
    flex-direction: column;
    gap: 20px;
  }
  .footer-right .copyright {
    text-align: start;
  }
}/*# sourceMappingURL=style.css.map */